<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/CSS/bootstrap.css" rel="stylesheet" type="text/css">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <form  action="/" method="post">
        <label for="new-phrase"></label>
        <input type="text" name="new-phrase" id="new-phrase" placeholder="Enter Phrase Here">
        <button type="submit" class="formbuttons">Encode</button>
      </form>
      <div class="encoded-phrase">
        <p>@Model</p>
      </div>
    </div>
  </body>
</html>
